APP_NAME="Astro API"
DEBUG=false
ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:3000","*"]
LINKS_FILE="app/sample_links.yaml"
WEATHERAPI_KEY=973...
WEATHERAPI_URL=http://api.weatherapi.com/v1/
CACHE_TTL_SECONDS=3600
OPENWEATHERMAP_API_KEY=b75...
